In [1]:
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = (
    SparkSession
        .builder
        .master('spark://spark-master:7077')
        .appName('jupyter')
        .getOrCreate()
)

In [2]:
df = spark.sql('show databases')

In [3]:
df.show(10, False)

+---------+
|namespace|
+---------+
|default  |
+---------+

In [4]:
df_teste = spark.createDataFrame([
    {'id': 1},
    {'id': 2},
])

In [5]:
df_teste.printSchema()

root
 |-- id: long (nullable = true)

In [6]:
df_teste.show(10, False)

+---+
|id |
+---+
|1  |
|2  |
+---+

In [7]:
# Import Libraries
from pyspark.sql.types import StructType, StructField, FloatType, BooleanType
from pyspark.sql.types import DoubleType, IntegerType, StringType
import pyspark
from pyspark import SQLContext
# Setup the Configuration

# Setup the Schema
schema = StructType([
    StructField("User ID", IntegerType(),True),
    StructField("Username", StringType(),True),
    StructField("Browser", StringType(),True),
    StructField("OS", StringType(),True),
])
# Add Data
data = ([
    (1580, "Barry", "FireFox", "Windows" ),
    (5820, "Sam", "MS Edge", "Linux"),
    (2340, "Harry", "Vivaldi", "Windows"),
    (7860, "Albert", "Chrome", "Windows"),
    (1123, "May", "Safari", "macOS")
])
# Setup the Data Frame
user_data_df = spark.createDataFrame(data,schema=schema)

In [8]:
user_data_df.printSchema()

root
 |-- User ID: integer (nullable = true)
 |-- Username: string (nullable = true)
 |-- Browser: string (nullable = true)
 |-- OS: string (nullable = true)

In [9]:
user_data_df.coalesce(1).collect()

[Row(User ID=1580, Username='Barry', Browser='FireFox', OS='Windows'),
 Row(User ID=5820, Username='Sam', Browser='MS Edge', OS='Linux'),
 Row(User ID=2340, Username='Harry', Browser='Vivaldi', OS='Windows'),
 Row(User ID=7860, Username='Albert', Browser='Chrome', OS='Windows'),
 Row(User ID=1123, Username='May', Browser='Safari', OS='macOS')]

In [10]:
user_data_df.show()

+-------+--------+-------+-------+
|User ID|Username|Browser|     OS|
+-------+--------+-------+-------+
|   1580|   Barry|FireFox|Windows|
|   5820|     Sam|MS Edge|  Linux|
|   2340|   Harry|Vivaldi|Windows|
|   7860|  Albert| Chrome|Windows|
|   1123|     May| Safari|  macOS|
+-------+--------+-------+-------+